---
layout: default
type: home
---

<header id="top" class="header">
  <div class="header-content">
    <img src="{{ "/assets/img/youtubeArtSmall.jpg" | relative_url }}" width="100" height="100" alt="logo">
    <a>wildthinks blog</a>
    <ul>
      <li>
        <a href="pages/About">About</a>
      </li>
      <li>
        <a>Home</a>
      </li>
    </ul>

  </div>
</header>

<div class="container">
  <div class="inner clearfix">
    <section id="main-content">

      {% if site.posts.size > 0 %}
        <ul class="bloglist">
        {% for post in site.posts limit: 10 %}
            <li>
              <p class="bloglist-item">
                <a class="bloglist-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>

                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %-d, %Y'}}</time>
                <div class="bloglist-excerpt">
                  <p>{{ post.excerpt }}</p>
                </div>

              </p>
            </li>
        {% endfor %}
        </ul>
      {% else %}
          <p>No posts yet!</p>
      {% endif %}

    </section>
  </div>
</div>


