---
layout: default
type: home
---

<header id="top" class="header">
  <div class="text-vertical-center">
    <img src="assets/img/Hypercube.svg" style="max-height:100px;margin-top:10px;">
    <br>
    <h1>BlogKit</h1>
    <h3><b>Smartdown-capable GHP Blog</b></h3>
  </div>
</header>

<h2>Recent Posts</h2>

{% if site.posts.size > 0 %}
  <ul class="bloglist">
  {% for post in site.posts limit: 10 %}
      <li>
        <p class="bloglist_time">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %-d, %Y'}}</time>
            <a class="bloglist__link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </p>
      </li>
  {% endfor %}
  </ul>
{% else %}
    <p>No posts yet!</p>
{% endif %}

  {% include home.html %}

  <footer>
    <div class="container">
      <div id="a-contact" class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <span class="fa-stack fa-4x" style="color: transparent;">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x text-primary"></i>
          </span>
          <h4>
            <strong>BlogKit Home Footer</strong>
          </h4>
          <p>Earth</p>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-link fa-fw"></i>
              <a
                href="https://smartdown.site"
                target="_blank">
                https://smartdown.site
              </a>
            </li>
            <li>
              <i class="fa fa-twitter fa-fw"></i>
              <a
                href="https://twitter.com/TheDoctorBud"
                target="_blank">
                &commat;TheDoctorBud
              </a>
            </li>
            <li>
              <i class="fa fa-envelope-o fa-fw"></i>
              <a
                href="mailto:email_placeholder@example.com">
                email_placeholder@example.com
              </a>
            </li>
          </ul>
          <br>
          <hr class="small">
          <p class="text-muted">
            Site &copy; Daniel B Keith 2017
          </p>
          <p class="small text-muted">
            Theme based on
            <a href="https://github.com/BlackrockDigital/startbootstrap-stylish-portfolio/"
              target="_blank">
              Stylish Portfolio
            </a>
            &copy; 2013-2016 Blackrock Digital LLC
          </p>
        </div>
      </div>
    </div>
  </footer>