<header id="top" class="header">
  <div class="header-content">
    <img src="{{ "/assets/img/logo1.svg" | relative_url }}" width="100" height="50" alt="logo">
    <a href="{{site.baseurl}}">wildthinks blog</a>

    <ul class="social">
      
      <a href="mailto:goldfishandrobin@gmail.com"><li><i class="fa fa-envelope-o fa-fw"></i></li></a>
  
      <a href="https://twitter.com/wildthinksLab"><li><i class="fa fa-twitter fa-fw"></i></li></a>

      <a href="https://wildthinks.org"><li><i class="fa fa-link fa-fw"></i></li></a>
      
    </ul>      

    <ul>
      <li>
        <a href="pages/About">About</a>
      </li>
      <li>
        <a href="{{site.baseurl}}">Home</a>
      </li>
    </ul>

  </div>
</header>