<section id="a-about" class="services bg-secondary">
  <div class="container">
    <div class="row row-inset">
      <div id="a-author" class="col-lg-10 col-lg-offset-1 text-center">
        <h2>About&hellip;</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-author" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user-o fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>About the Author</strong>
              </h4>
              <p>
                About the Author
                <hr>

                <a href="AboutTheAuthor">More Details</a>
              </p>
            </div>
          </div>
          <div id="a-content" class="col-md-4 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-content" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-book fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>About Content</strong>
              </h4>
              <p>
                About Content
              </p>
            </div>
          </div>
          <div id="a-technology" class="col-md-4 col-sm-12">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-technology" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>About Technology</strong>
              </h4>
              <p>
                About Technology

                <hr>
                <a href="pages/DungeonGameStarter">Dungeon Game Starter</a>
                <hr>
                <a href="pages/Simple">Simple</a>
                <hr>
                <a href="Root">Root</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row hidden" id="overview-detailed">
      <div class="col-xs-12">
        <div id="overview-detailed-markdown" class="markdown">
        </div>
      </div>
    </div>
  </div>
</section>
