<script>
  /* global smartdown */
  var icons = {
    'hypercube': 'assets/img/Hypercube.svg',
    'StalactiteStalagmite': 'assets/img/StalactiteStalagmite.svg'
  };
  var baseURL = '{{ site.baseurl }}';

  var multiparts = null;

  function exampleLoaded() {
    /* eslint no-invalid-this: 0 */
    var sourceText = this.responseText;
    multiparts = smartdown.partitionMultipart(sourceText);
    console.log('exampleLoaded', sourceText);
    console.log('multiparts', multiparts);
    var output = document.getElementById('blog-content');
    smartdown.setHome(multiparts._default_, output, function() {
    });
  }

  function loadURL(url) {
    var oReq = new XMLHttpRequest();
    oReq.addEventListener("load", exampleLoaded);
    oReq.open("GET", url);
    oReq.send();
  }

  function loadInline() {
    smartdown.loadCardsFromDocumentScripts();
    var s = smartdown.smartdownScripts[0];

    multiparts = smartdown.partitionMultipart(s.text);
    var output = document.getElementById('blog-content');
    smartdown.setHome(multiparts._default_, output, function() {
    });
  }

  function loadExample() {
    loadURL('blog/home.md');
  }

  function cardLoader(cardKey) {
    var part = multiparts[cardKey];
    if (part) {
      var output = document.getElementById('blog-content');
      smartdown.setHome(part, output, function() {
        // smartdown.startAutoplay(renderElement);
      });
    }
    else {
      var cardURL = cardKey;
      console.log('cardKey/cardURL', cardKey, cardURL);
      if (cardKey.indexOf('http') === 0) {
        cardURL = cardKey;
      }
      loadURL(cardURL);
    }
  }

  function calcWikidata(key, body, done) {
    function lookupComplete() {
      /* eslint no-invalid-this: 0 */
      var lookupResult = this.responseText;
      var parsedResult = JSON.parse(lookupResult).query.pages;

      var thumbs = [];
      parsedResult.forEach(function(val, idx) {
        if (val.thumbnail) {
          thumbs.push(val.thumbnail.source);
        }
      });
      done(thumbs);
    }

    var wdKey = body;
    if (body.indexOf('[') === 0) {
      var possibleJSONArray = JSON.parse(body);
      if (Array.isArray(possibleJSONArray)) {
        wdKey = '';
        possibleJSONArray.forEach(function(val, idx) {
          wdKey += val;
          if (idx < possibleJSONArray.length - 1) {
            wdKey += '|';
          }
        });
      }
    }
    var oReq = new XMLHttpRequest();
    oReq.addEventListener("load", lookupComplete);
    var url = 'https://en.wikipedia.org/w/api.php?action=query&formatversion=2&prop=pageimages%7Cpageterms&';
    url += 'titles=' + encodeURI(wdKey);  // Albert%20Einstein%7CAlbert%20Ellis%7CAlbert%20Estopinal';
    url += '&pilimit=3&piprop=thumbnail&wbptterms=description&redirects=&format=json&origin=*';

    oReq.open('GET', url);
    oReq.send();
  }

  var calcHandlers = {
    wikidata: calcWikidata
  };

  smartdown.initialize(icons, baseURL, loadInline, cardLoader, calcHandlers);
</script>
