<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="{{ site.baseurl }}/">

    <link
      type="text/css"
      rel="stylesheet"
      href="{{site.baseurl}}/assets/css/main.css"
      media="screen">

    <title>
    {{ site.title }}
    </title>

{% if page.smartdown == true %}
    <link rel=stylesheet href="https://unpkg.com/smartdown/dist/lib/smartdown.css">
    <link rel=stylesheet href="https://unpkg.com/smartdown/dist/lib/fonts.css">
    <script type="text/javascript" src="https://unpkg.com/smartdown/dist/lib/smartdown.js">
    </script>
    <script type="text/javascript" src="https://unpkg.com/smartdown/dist/lib/calc_handlers.js"></script>
    <script type="text/x-smartdown" id="Home"> 
      {{ content }}
    </script>
{% endif %}
  </head>

  <body>
   {% include header.html %}

{% if page.smartdown == true %}
    <div class="container-fluid smartdown-outer-container smartdown-theme">
      <h1> {{ page.title }} </h1>
      <div class="col-xs-12 smartdown-container" id="blog-content">
      </div>
    </div>

    

{% elsif page.type == 'home' %}
    {{ content }}
{% else %}
    <div class="container">
      <div class="inner clearfix">
        <section id="main-content">
          <h2> {{ page.title }} </h2>
          {{ content }}
        </section>
      </div>

     <!--  {% include pager.html %} -->
    </div>
{% endif %}


    <script src="{{site.baseurl}}/assets/js/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap/bootstrap.min.js"></script>


{% if page.smartdown == true %}
{% include smartdown_footer.html %}
{% endif %}

{% if site.ga == true %}
{% include google_analytics.html %}
{% endif %}

  </body>
</html>
