<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="{{ site.baseurl }}/">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" media="screen" type="text/css">

    <title>
    {{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}
    </title>

{% if page.smartdown == true %}
    <link rel=stylesheet href="http://smartdown.site/lib/smartdown.css">
    <script type="text/javascript" src="http://smartdown.site/lib/smartdown.js"></script>
    <script type="text/x-smartdown" id="Home">{{ content }}</script>
{% endif %}

  </head>

  <body>
    {% include sidebar.html %}

{% if page.smartdown != true %}
    <div class="container">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>
{% endif %}

{% if page.smartdown == true %}
    <div class="container-fluid">
      <div class="col-xs-12 smartdown-container" id="blog-content">
      </div>
    </div>
{% endif %}


{% if page.type == 'home' %}
    {% include home.html %}
{% endif %}

    <footer>
      <div class="container">
        <div id="a-contact" class="row">
{% if page.type == 'home' %}
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <span class="fa-stack fa-4x" style="color: transparent;">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-comments fa-stack-1x text-primary"></i>
            </span>
            <h4>
              <strong>Example Smartdown Blog</strong>
            </h4>
            <p>Earth</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-link fa-fw"></i>
                <a
                  href="http://smartdown.site"
                  target="_blank">
                  http://smartdown.site
                </a>
              </li>
              <li>
                <i class="fa fa-twitter fa-fw"></i>
                <a
                  href="https://twitter.com/TheDoctorBud"
                  target="_blank">
                  &commat;TheDoctorBud
                </a>
              </li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a
                  href="mailto:email_placeholder@example.com">
                  email_placeholder@example.com
                </a>
              </li>
            </ul>
            <br>
            <hr class="small">
            <p class="text-muted">
              Site &copy; Daniel B Keith 2017
            </p>
            <p class="small text-muted">
              Theme based on
              <a href="https://github.com/BlackrockDigital/startbootstrap-stylish-portfolio/"
                target="_blank">
                Stylish Portfolio
              </a>
              &copy; 2013-2016 Blackrock Digital LLC
            </p>
          </div>
{% endif %}
        </div>
      </div>
        <a id="to-top" class="btn btn-dark btn-lg">
          <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </footer>

    <script src="{{site.baseurl}}/assets/js/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap/bootstrap.min.js"></script>

    <script>
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
          $('a[href*=\\#]:not([href=\\#],[data-toggle],[data-target],[data-slide])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });
      //#to-top button appears after scrolling
      // Opens the sidebar menu
      $("#to-top").click(function(e) {
          e.preventDefault();
          console.log('to-top');
          $('html,body').animate({
              scrollTop: 0
          }, 1000);
      });
      var fixed = false;
      $(document).scroll(function() {
          if ($(this).scrollTop() > 250) {
              if (!fixed) {
                  fixed = true;
                  // $('#to-top').css({position:'fixed', display:'block'});
                  $('#to-top').show("slow", function() {
                      $('#to-top').css({
                          position: 'fixed',
                          display: 'block'
                      });
                  });
              }
          } else {
              if (fixed) {
                  fixed = false;
                  $('#to-top').hide("slow", function() {
                      $('#to-top').css({
                          display: 'none'
                      });
                  });
              }
          }
      });
    </script>

{% if page.smartdown == true %}
{% include smartdown_footer.html %}
{% endif %}

{% include google_analytics.html %}

  </body>
</html>
